---
http_interactions:
- request:
    method: get
    uri: https://app.ticketmaster.com/discovery/v2/events.json?apikey&city=Morrison&keyword=Red%20Rocks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"fault":{"faultstring":"Failed to resolve API Key variable request.queryparam.apikey","detail":{"errorcode":"steps.oauth.v2.FailedToResolveAPIKey"}}}'
  recorded_at: Sun, 06 Jun 2021 21:42:52 GMT
recorded_with: VCR 6.0.0
