---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=3&key=weather_api_key&q=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Edgestorageid:
      - '488'
      Cdn-Cachedat:
      - '2021-06-10 18:53:09'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Requestid:
      - 642d687985bc902db30544907ace4617
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1623351189,"localtime":"2021-06-10
        12:53"},"current":{"last_updated_epoch":1623350700,"last_updated":"2021-06-10
        12:45","temp_c":31.7,"temp_f":89.1,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":12.5,"wind_kph":20.2,"wind_degree":190,"wind_dir":"S","pressure_mb":1015.0,"pressure_in":30.5,"precip_mm":0.0,"precip_in":0.0,"humidity":17,"cloud":75,"feelslike_c":30.1,"feelslike_f":86.2,"vis_km":16.0,"vis_miles":9.0,"uv":7.0,"gust_mph":4.9,"gust_kph":7.9},"forecast":{"forecastday":[{"date":"2021-06-10","date_epoch":1623283200,"day":{"maxtemp_c":34.2,"maxtemp_f":93.6,"mintemp_c":18.8,"mintemp_f":65.8,"avgtemp_c":27.0,"avgtemp_f":80.6,"maxwind_mph":15.2,"maxwind_kph":24.5,"totalprecip_mm":0.0,"totalprecip_in":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":22.0,"daily_will_it_rain":0,"daily_chance_of_rain":"0","daily_will_it_snow":0,"daily_chance_of_snow":"0","condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":11.0},"astro":{"sunrise":"05:32
        AM","sunset":"08:28 PM","moonrise":"05:35 AM","moonset":"09:02 PM","moon_phase":"Waxing
        Crescent","moon_illumination":"7"},"hour":[{"time_epoch":1623304800,"time":"2021-06-10
        00:00","temp_c":22.2,"temp_f":72.0,"is_day":0,"condition":{"text":"Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/119.png","code":1006},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":243,"wind_dir":"WSW","pressure_mb":1012.0,"pressure_in":30.4,"precip_mm":0.0,"precip_in":0.0,"humidity":28,"cloud":64,"feelslike_c":23.2,"feelslike_f":73.8,"windchill_c":22.2,"windchill_f":72.0,"heatindex_c":23.2,"heatindex_f":73.8,"dewpoint_c":2.9,"dewpoint_f":37.2,"will_it_rain":0,"chance_of_rain":"0","will_it_snow":0,"chance_of_snow":"0","vis_km":10.0,"vis_miles":6.0,"gust_mph":8.7,"gust_kph":14.0,"uv":1.0},{"time_epoch":1623308400,"time":"2021-06-10
        01:00","temp_c":21.6,"temp_f":70.9,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":236,"wind_dir":"WSW","pressure_mb":1012.0,"pressure_in":30.3,"precip_mm":0.0,"precip_in":0.0,"humidity":32,"cloud":47,"feelslike_c":21.6,"feelslike_f":70.9,"windchill_c[...]
